@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

.front-container
{
    color:black;
    padding:20px;
    font-family: 'Roboto';
    font-size:20px;

}
.challenge
{
    padding:20px;
    font-size:20px;
}

.items
{
    margin:15px;
}

#prod:hover{
   border-bottom: solid 2px red;
   cursor:pointer;
}

#download:hover{
    border-bottom: solid 2px red;
    cursor:pointer;
}

#Pricing:hover{
    border-bottom: solid 2px red;
    cursor:pointer;
}

.mid-container
{
    background-color: white;
    border-radius: 16px;
    margin-left: 300px;
    margin-right:20px;
    margin-top:40px;
    margin-bottom:50px;
    width:100%;
    max-width:700px;
    height:100%;
    max-height:200px;
    box-shadow: 0 8px 32px 0 rgba(39, 39, 41, 0.37);
    padding:20px;
    
}

.mid-image
{
    border-radius: 50%;
    width:100px;
    height:90px;
    /* position:absolute;
    bottom:350px;
    right:900px; */
    margin:20px;
    margin-right:35px;
    
    
}
.info
{
    font-size:15px;
    font-family: 'Roboto';
    text-align: left;
    color:black;
    margin:0;
}

#info1
{
    color:red;
    font-size:30px;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

#gender
{
    color:rgb(100, 96, 96);
    font-size:15px;
}

.mid-info
{
    color:black;
    font-size:20px;
}

.bottom-container
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px 15px;
    padding: 20px;
    height: 100%;
    border-radius: 25px;
   
}
.card{
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}
/* .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  } */

/*.item-1
{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end:2;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
}
  
.item-2
{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:2;
    grid-column-end:3;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
  
.item-3
{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:3;
    grid-column-end:4;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
}

.item-4
{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:4;
    grid-column-end:5;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
   
}

.item-5
{
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start:1;
    grid-column-end:2;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
}

.item-6
{
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start:2;
    grid-column-end:3;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.item-7
{
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start:3;
    grid-column-end:4;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.item-8
{
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start:4;
    grid-column-end:5;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.item-9
{
    grid-row-start:3;
    grid-row-end:4;
    grid-column-start:1;
    grid-column-end:2;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.item-10
{
    grid-row-start:3;
    grid-row-end:4;
    grid-column-start:2;
    grid-column-end:3;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.item-11
{
    grid-row-start:3;
    grid-row-end:4;
    grid-column-start:3;
    grid-column-end:4;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
}

.item-12
{
    grid-row-start:3;
    grid-row-end:4;
    grid-column-start:4;
    grid-column-end:5;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
}

.item-13
{
    grid-row-start:4;
    grid-row-end:5;
    grid-column-start:1;
    grid-column-end:2;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.item-14
{
    grid-row-start:4;
    grid-row-end:5;
    grid-column-start:2;
    grid-column-end:3;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.item-15
{
    grid-row-start:4;
    grid-row-end:5;
    grid-column-start:3;
    grid-column-end:4;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.item-16
{
    grid-row-start:4;
    grid-row-end:5;
    grid-column-start:4;
    grid-column-end:5;
    padding:10px;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}*/

.p1
{
    color:grey;
    font-size:13px;
    font-family: 'Roboto';
    font-weight: bold;

}

.p2
{
    color: black;
    font-weight: bold;
    font-size:20px;
    
}

.p3
{
    color:red;
    font-size:13px;
    
}

.active
{
    display: block;
}

.inactive
{
    display: none;
}

#click
{
    background: #A259FF;
    color:white;
}